/* Please override here. */

/* 全局字体 */
body {
    font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,Verdana,"Hiragino Sans GB",STHeiti,sans-serif;
}

/* 代码 */
/*
code {
    font-family: Hack, monospace;
}
*/

p,.single li {
    line-height: 1.8;
    font-size: 16px;
    color: #666;
}

/* 文章标题 */
.post-title a {
    color: #444;
}

/* 日期时间 */
.post-date {
    color: #999;
}


/* 列表中的摘要 */
.li .post-content p {
    margin: 0px;
}

/* 单篇文章的标题 */
.single h1 {
}

/* 文章内容大标题 */
.single h3 {
    padding-left: 9px;
    border-left: 6px solid #ff7e79;
    margin-bottom: 20px;
}
