/* Please override here. */

/* 全局字体 */
body {
    font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,Verdana,"Hiragino Sans GB",STHeiti,sans-serif;
}

/* 代码 */
/*
code {
    font-family: Hack, monospace;
}
*/

p,.single li {
    line-height: 1.8;
    font-size: 16px;
    color: #666;
}

/* 图片 */
img {
    max-width: 100%;
    height: auto;
}

/* 文章标题，内容页 */
.post-title {
    font-size: 32px;
}

/* 文章标题，首页 */
.post-title a {
    color: #444;
    font-size: 26px;
}

/* 日期时间 */
.post-date {
    color: #999;
}


/* 列表中的摘要 */
.li .post-content p {
    margin: 0px;
}

/* 单篇文章的标题 */
.single h1 {
}

/* 文章内容大标题 */
.single h3 {
    padding-left: 9px;
    border-left: 6px solid #ff7e79;
    margin-bottom: 20px;
}

.single h4 {
    font-size: 20px;
}

.single h5 {
    font-size: 18px;
}

.single strong {
    color: #3C4650;
}

.single table {
    display: table;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-left: none;
    border: 1px solid #dddddd;
    border-spacing: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 8px;
    font-size: 16px;
}

.single thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.single th {
    border: 1px solid #dddddd;
    vertical-align: inherit;
    padding: 8px;
}

.single tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.single td {
    padding: 8px;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    line-height: 20px;
    vertical-align: top;
}

/* sitebar */
.toc li {
    line-height: 25px;
}

.toc a {
    font-size: 14px;
}

.toc a:hover,
.toc a:focus {
}

.affix-top {
    position: relative;
    width: 300px;
}
.affix {
    top: 20px;
    width: 300px;
    float: right;
}

.affix-bottom {
    width: 300px;
    position: fixed;
}

@media (min-width: 1200px) {
    .affix-top,
    .affix,
    .affix-bottom {
        width: 360px;
    }
}

#TableOfContents {
    margin-top: 15px;
}
