{{ partial "default_head.html" . }}

<div class="row">
    <div class="col-md-8">
        <article class="post single">

            <header>
                <div class="post-date">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <time datetime="{{ .Date.Format .Site.Params.DateForm }}">
                        {{ .Date.Format .Site.Params.DateForm }}
                    </time>
                </div>
                <h1 class="post-title">{{ .Title }}</h1>
            </header>

            <div class="post-content">
                {{ .Content }}
            </div>
            
            <div style="border: 1px dashed #e0e0e0; margin-bottom: 15px; padding: 10px 10px 10px 10px; background-color: #fffeee; background-repeat: no-repeat; background-attachment: scroll; background-position: 1% 50%; -moz-background-size: auto auto; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
                <div>
                    <p style="margin-top:0px;">作者：<a target="_blank" href="http://blog.fatedier.com/">fatedier</a>
                    <br />本文出处：<a target="_blank" href="{{ .Permalink }}">{{ .Permalink }}</a>
                    <br />
                    文章版权归本人所有，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接，否则保留追究法律责任的权利。 </p>
                </div>
            </div>

            <aside>
                {{ $baseurl := .Site.BaseURL }}
                <ul class="list-inline post-tags">
                    {{ range .Params.tags }}
                    <li>
                        <a href="{{ $baseurl }}tags/{{ . | urlize }}/">
                            <i class="fa fa-tags"></i>
                            {{ . }}
                        </a>
                    </li>
                    {{ end }}
                </ul>

                {{ if .Site.Params.ShowRelatedPost }}
                <!-- Related post. -->
                <h3>Related Post</h3>
                <ul class="post-rels">
                    {{ $page_link := .Permalink }}
                    {{ $tags := .Params.tags }}
                    {{ range .Site.Pages }}
                    {{ $page := . }}
                    {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
                    {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
                    <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </aside>
            {{ end }}
            <!-- Pagination. -->
            <footer>
                <nav>
                    <ul class="pager">

                        {{ if .Prev }}
                        <li class="previous"><a href="{{ .Prev.Permalink }}/"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ else }}
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ end }}

                        <li><a href="{{ .Site.BaseURL }}post/">All Posts</a></li>

                        {{ if .Next }}
                        <li class="next"><a href="{{ .Next.Permalink }}/">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ else }}
                        <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ end }}

                    </ul>
                </nav>
            </footer>

        </article>
    </div>
    <div class="col-md-4">
        {{ partial "sidebar_single.html" . }}
    </div>
</div>

{{ partial "default_foot.html" . }}
